adal==1.2.7
aenum==3.1.8
appdirs==1.4.4
APScheduler==3.9.1
asgiref==3.5.2
atomicwrites==1.4.0
attrs==21.4.0
azure-core==1.23.1
azure-storage-blob==12.11.0
beautifulsoup4==4.10.0
blis==0.7.7
bs4==0.0.1
case-conversion==2.1.0
catalogue==2.0.7
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
clipboard==0.0.4
colorama==0.4.4
colour==0.1.5
contextlib2==21.6.0
cryptography==36.0.2
cursor==1.3.4
cymem==2.0.6
decorator==4.4.2
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.4
Django==4.0.4
django-bootstrap-datepicker-plus==4.0.0
django-import-export==2.8.0
easygui==0.98.3
et-xmlfile==1.1.0
execnet==1.9.0
fsspec==2022.5.0
fuzzywuzzy==0.18.0
gender-guesser==0.4.0
html-text==0.5.2
idna==3.3
imageio==2.16.1
imageio-ffmpeg==0.4.5
infi.systray==0.1.12
inflect==5.4.0
iniconfig==1.1.1
isodate==0.6.1
Jinja2==3.1.2
joblib==1.1.0
langcodes==3.3.0
lxml==4.8.0
MarkupPy==1.14
MarkupSafe==2.1.1
maybe-else==0.2.1
mbstrdecoder==1.1.0
mock==4.0.3
moviepy==1.0.3
msal==1.17.0
msoffcrypto-tool==5.0.0
msrest==0.6.21
murmurhash==1.0.7
nltk==3.7
numpy==1.22.3
O365==2.0.18.1
oauthlib==3.2.0
odfpy==1.4.1
office365==0.3.15
Office365-REST-Python-Client==2.2.2
olefile==0.46
openpyxl==3.0.9
packaging==21.3
pandas==1.4.1
parsedatetime==2.6
path==16.4.0
path.py==12.5.0
pathmagic==0.3.14
pathy==0.6.1
pikepdf==5.1.3
Pillow==9.1.0
pluggy==1.0.0
preshed==3.0.6
prettierfier==1.0.3
proglog==0.1.9
psycopg2==2.9.3
py==1.11.0
pycparser==2.21
pydantic==1.8.2
pydub==0.25.1
pyinstrument==4.1.1
pyiotools==0.3.18
PyJWT==2.3.0
pymiscutils==0.3.14
pyparsing==3.0.9
PyPDF2==1.26.0
PyPDF4==1.27.0
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pysubtypes==0.3.18
pytest==7.1.2
pytest-shutil==1.7.0
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyxlsb==1.0.9
PyYAML==6.0
readchar==3.0.5
regex==2022.3.15
requests==2.27.1
requests-oauthlib==1.3.1
Send2Trash==1.8.0
simplejson==3.17.6
six==1.16.0
smart-open==5.2.1
soupsieve==2.3.1
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
sqlparse==0.4.2
srsly==2.4.3
stringcase==1.2.0
tablib==3.2.1
tabulate==0.8.9
termcolor==1.1.0
thinc==8.0.16
tomli==2.0.1
tqdm==4.63.1
typepy==1.3.0
typer==0.4.1
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.1
urllib3==1.26.9
wasabi==0.9.1
whitenoise==6.1.0
xlrd==2.0.1
XlsxWriter==3.0.3
xlwt==1.3.0
