<!--{% load static %}-->
<!--<html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Contract Library Files</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="cl_files" method="post">-->
<!--  {% csrf_token %}-->

<!--    {% for keyword in keyword_list %}-->
<!--    {{ keyword.keywords }}-->
<!--    {% endfor %}-->
<!--&lt;!&ndash;    <input type="Submit">&ndash;&gt;-->
<!--&lt;!&ndash;    <input result>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="card-header" id="cardlabel">&ndash;&gt;-->
<!--&lt;!&ndash;    <i class="fas fa-chart-bar mr-1"></i>&ndash;&gt;-->
<!--    <div> Result:{{DF}}</div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</form>-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;    <h3> The output files are:</h3>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->