{% load static %}
<!--<html lang="en">-->
<html lang="en-gb" class="no-js">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Concentrix Protect</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
<!--  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">-->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style1.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'indexing_data5' %}" class="logo d-flex align-items-center">
        <img src="{% static 'images/CNX_log.jpg' %}" alt="">
        <span class="d-none d-lg-block">CNX Protect</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->
        <!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.username}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              {% if user.is_authenticated %}

<!--                                    <li> <h4 style= "font-size:1vw;">-->
<!--                                            <h4 style= "font-size:1.25vw; color:yellow;">-->
                                         {{user.username}}
<!--              <h6>Sumithra R</h6>-->
              <span>, Data Scientist</span>
                                              {% endif %}
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="account/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
<li class="nav-item">
        <a class="nav-link " href="{% url 'indexing_data5' %}">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Out-Of-Box</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'experiment' %}">
              <i class="bi bi-circle"></i><span>Contract Library</span>
            </a>
          </li>
          <li>
            <a href="{% url 'FMEA_Indexing' %}">
              <i class="bi bi-circle"></i><span>FMEA</span>
            </a>
          </li>

        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>On-Demand</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'Contract_Library1' %}">
              <i class="bi bi-circle"></i><span>Contract Library</span>
            </a>
          </li>
          <li>
            <a href="{% url 'FMEA_Real' %}">
              <i class="bi bi-circle"></i><span>FMEA</span>
            </a>
          </li>

        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="https://app.powerbi.com/links/8OnEUJ60_5?ctid=599e51d6-2f8c-4347-8e59-1f795a51a98c&pbi_source=linkShare&bookmarkGuid=4d2dc58f-c1df-4981-997f-a54e1c8a8e31">
          <i class="bi bi-grid"></i>
          <span> BI Dashboard</span>
        </a>
      </li>
        <!-- End Dashboard Nav -->
<!--      <li class="nav-item" href="{% url 'indexing_data5' %}">-->
<!--        <a class="nav-link " href="{{df_filepath_Exe1}}" download rel="noopener noopener" target="_blank">-->
<!--          <i class="ri-arrow-down-circle-line"></i>-->
<!--          <span>Download</span>-->
<!--        </a>-->
<!--      </li>-->
        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="indexing5.html">
          <i class="bi bi-journal-text"></i><span>Downloads</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a class="nav-link " href="{{df_filepath_Exe1}}" download rel="noopener noopener" target="_blank">
              <i class="bi bi-circle"></i><span>Contract Library</span>
            </a>
          </li>
          <li>
            <a class="nav-link " href="{{df_filepath_Exe1_1}}" download rel="noopener noopener" target="_blank">
              <i class="bi bi-circle"></i><span>FMEA</span>
            </a>
          </li>

        </ul>
      </li>
       <!-- End Error 404 Page Nav -->
      <!-- End Blank Page Nav -->
    </ul>
  </aside>





<section style="background-color: #06357A" >
<!--    <div class="overlay" style="background-image: url(/CNXProtect_Utl/static/images/page-header.jpg)"></div>-->
    <div class="overlay" style="background-color: #06357A"></div>
       <div class="container"style="background-color: #06357A">
 <section id="objective" class="section">
     <div class="title-box text-center">
<!--         <li class="work-item thumnail-img mix corporate"data-toggle="tooltip" title="Back to home page ">-->
<!--    <h7 style ="color:white;" >-->
<!--        <img src="{% static 'images/homepage1.png' %}" alt="">-->
<!--    </h7>-->
<!-- </a>-->
<!--</li>-->
         <h2 class="title" style="color:white">Searching</h2>
     </div>

      <div class="content-tab-3">
          <div class="container">
									<div class="tab-content">
<!--                                        <div style ="color:white;">-->
                                         <!--                                         </div>-->
<!--                                        <div class="tab-pane" id="tab-content-5">-->
                                            <div class="col-md-8">
                                                <label style ="color:yellow;" > Select account name and keyword to search:</label>


                                                <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>

                                                                                                   <form action="{% url 'indexing_data2' %}">
<!--                                                        <p style ="color:yellow;">Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>-->
                                                      <label  style ="color:yellow;" > Account Name:
                                                          <br>
                                                          <div id="mini-demo-zone"  class="dropdown-toggle" style="width:40%;display:inline-block;">
<!--                                                            <div style="color:Black" placeholder="Select MSA";>-->
<!--                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example</button>-->
<!--            <textarea name="problem" id="problem" rows="3" class="form-control" cols="45" placeholder="Describe your ticket reason in as few words as possible."></textarea>-->
                                                            <select name="MSA_1" id="dino-select" multiple size="3" >
                                                                    <option>Abbott</option>
                                                                    <option>America</option>
                                                                    <option>CXTI</option>
                                                                    <option>Korea</option>
                                                                    <option>Ireland</option>
                                                                    <option>US</option>
                                                                    <option>Gambia</option>
                                                                    <option>UK</option>
                                                                    <option>QC</option>
                                                                    <option>WO5_CW2477461_Inbound</option>
                                                                    <option>France</option>
                                                                    <option>Canada</option>
                                                                    <option>US9</option>
                                                                    <option>Germany</option>
                                                                    <option>Ascensia</option>
                                                                    <option>SW</option>
                                                                    <option>SC</option>
                                                                    <option>Minnesota</option>
                                                                    <option>China</option>
                                                                    <option>North.</option>
                                                                    <option>PO</option>
                                                                    <option>India</option>
                                                                    <option>CO4</option>
                                                                    <option>Cisco</option>
                                                                    <option>DR</option>
                                                                    <option>Rico</option>
                                                                    <option>Resellr</option>
                                                                    <option>Florida</option>
                                                                    <option>Questionnaire</option>
                                                                    <option>Hawaii</option>
                                                                    <option>Arizona</option>
                                                                    <option>USA</option>
                                                                    <option>ITCON</option>
                                                                    <option>Cyara</option>
                                                                    <option>DC</option>
                                                                    <option>Implem</option>
                                                                    <option>Australia</option>
                                                                    <option>Client</option>
                                                                    <option>Japan</option>
                                                                    <option>Amsterdam</option>
                                                                    <option>Spain</option>
                                                                    <option>PCR002</option>
                                                                    <option>CR</option>
                                                                    <option>SF</option>
                                                                    <option>Oregon</option>
                                                                    <option>MeVA</option>
                                                                    <option>FEG_MISC_Convergys</option>
                                                                    <option>Highmark</option>
                                                                    <option>ChongQing</option>
                                                                    <option>Shenzhen</option>
                                                                    <option>Huntington</option>
                                                                    <option>SAP</option>
                                                                    <option>BMAS_BAA</option>
                                                                    <option>AMD1</option>
                                                                    <option>LTD</option>
                                                                    <option>Brazil</option>
                                                                    <option>Malaysia</option>
                                                                    <option>Hindi</option>
                                                                    <option>QB</option>
                                                                    <option>Indonesia</option>
                                                                    <option>Philippines</option>
                                                                    <option>Singapore</option>
                                                                    <option>Vietnam</option>
                                                                    <option>Mumbai</option>
                                                                    <option>Lebara</option>
                                                                    <option>NDA</option>
                                                                    <option>LinkedIn</option>
                                                                    <option>CCN376</option>
                                                                    <option>Majan</option>
                                                                    <option>SoftwareMSA589864</option>
                                                                    <option>Scotland</option>
                                                                    <option>Neustar</option>
                                                                    <option>NZ</option>
                                                                    <option>IA</option>
                                                                    <option>Sofia</option>
                                                                    <option>AppTBD</option>
                                                                    <option>Mobile</option>
                                                                    <option>LATAM</option>
                                                                    <option>Pennsylvania</option>
                                                                    <option>Queensland</option>
                                                                    <option>Sugar</option>
                                                                    <option>Voicemail</option>
                                                                    <option>Utah</option>
                                                                    <option>Italy</option>
                                                                    <option>Finland</option>
                                                                    <option>Colombia</option>
                                                                    <option>Manila</option>
                                                                    <option>BB</option>
                                                                    <option>Lynchburg</option>
                                                                    <option>WBA</option>
                                                                    <option>Salem</option>
                                                                    <option>Wyndham</option>
                                                                    <option>Sagicor</option>
                                                              </select>
                                                            </div>
                                                            </label>
<!--                                                    </form>-->
<!--                                                </div>-->
                                                          <div id="demo-stay-right" class=" dropdown-toggle" style="width:50%;text-align:right;display:inline-block;">
                                                            <label  style ="color:yellow;" > Theme/Keywords:
                                                                <br>
                                                                <!--        <div>optgroup support : </div>-->
<!--        <div>-->
<!--            <label for="dino-select">Choose Theme/Topic :</label>-->
<!--                                                      <select name="MSA_1" id = "MSA_1" style ="color:red;" multiple="multiple">-->
                                                                <select name="Theme" id="dino-select1" multiple size="4" >
                                                                    <optgroup label="Penalties (client)">
                                                                        <!--                    <option disabled="true" selected>&#45;&#45;Click MSA of your choice&#45;&#45; </option>-->
                                                                        <option>Penalty</option>
                                                                        <option>fine </option>
                                                                        <option> R&P</option>
                                                                        <option>Penalty cap </option>
                                                                        <option> Non compliance penalty </option>
                                                                        <option> Reward & Penalty</option>
                                                                        <option> Reward and Penalty</option>
                                                                        <option> Penalize </option>
                                                                        <option> Penalties </option>
                                                                        <option>Discount </option>
                                                                    </optgroup>

                                                                    <optgroup label="Point of Contact">
                                                                        <option>Security SPOC </option>
                                                    <!--                    <option> </option>-->
                                                                        <option> Point of Contact </option>
                                                                        <option> Security Point of Contact</option>
                                                                        <option> Security Personnel</option>
                                                                        <option> Dedicated Security</option>
                                                                        <option> DRI</option>
                                                                        <option> Risk Manager </option>
                                                                        <option> Security Professional</option>
                                                                        <option> Risk Professional</option>
                                                                        <option> Directly Responsible Individual</option>
                                                                    </optgroup>

                                                                    <optgroup label="Health Insurance">
                                                                        <option> HIPAA </option>
                                                                        <option> HiTech</option>
                                                                        <option> HiTech Certification </option>
                                                                        <option> HIPAA Certification</option>
                                                                        <option> Health Insurance Portability and Accountability Act</option>
                                                                        <option> Health Insurance Act</option>
                                                                        <option> Health Insurance Portability & Accountability Act</option>
                                                                        <option> PII</option>
                                                                        <option> Personal Information</option>
                                                                        <option> PHI</option>
                                                                    </optgroup>

                                                                    <optgroup label="Liability">
                                                                        <option> Liability</option>
                                                                        <option> Unlimited Liability</option>
                                                                        <option> Limited Liability</option>
                                                                        <option> No Liability</option>
                                                                        <option> accountability</option>
                                                                        <option> debt</option>
                                                                        <option> Limitation of Liability</option>
                                                                        <option> Un-limited Liability</option>
                                                                        <option> Financial Obligation</option>
                                                                        <option> Monetary Obligation</option>
                                                                        <option> Monetary Liability</option>
                                                                    </optgroup>

                                                                    <optgroup label="Other Security Requirement">
                                                                        <option>Monetary Liability</option>
                                                                    </optgroup>

                                                                    <optgroup label="Cyber Liability Insurance">
                                                                        <option>Monetary Liability</option>
                                                                    </optgroup>

                                                                    <optgroup label="BCP/ DR">
                                                                        <option>Monetary Liability</option>
                                                                        <option>BCP
                                                                        <option>Business Continuity</option>
                                                                        <option>Continuity Plan</option>
                                                                        <option>DR</option>
                                                                        <option>Disaster Recovery Plan</option>
                                                                        <option>Disaster Recovery</option>
                                                                        <option>Recovery Plan</option>
                                                                        <option>Business Continuity Plan</option>
                                                                        <option>Force Majeure</option>
                                                                        <option>Backup plan</option>
                                                                        <option>Back up plan</option>
                                                                        <option>Continuity of service</option>
                                                                        <option>Service Continuity</option>
                                                                        <option>Emergency</option>
                                                                        <option>BCP-DR</option>
                                                                        <option>BCP/DR</option>
                                                                        <option>Act of God</option>
                                                                        <option>Natural Calamity</option>
                                                                        <option>Terrorist Activity</option>
                                                                        <option>War like Situation</option>
                                                                        <option>War</option>
                                                                        <option>Terrorist</option>
                                                                        <option>Pandemic</option>
                                                                        <option>Covid</option>
                                                                        <option>Epidemic</option>
                                                                        <option>Covid19</option>
                                                                        <option>Earthquake</option>
                                                                        <option>Covid 19</option>
                                                                        <option>Covid-19</option>
                                                                        <option>Floods</option>
                                                                        <option>Flood</option>
                                                                        <option>Hazards</option>
                                                                        <option>Hazard</option>
                                                                    </optgroup>

                                                                    <optgroup label="Fraud Prevention">
                                                                        <option>Monetary Liability</option>
                                                                        <option>Fraud Prevention
                                                                        <option>Fraud</option>
                                                                        <option>Fraud Detection</option>
                                                                        <option>Fraud Monitoring</option>
                                                                        <option>Fraud Management</option>
                                                                        <option>Fraud Management System</option>
                                                                        <option>Fraud System</option>
                                                                        <option>Fraud Detection System</option>
                                                                        <option>Fraud Monitoring System</option>
                                                                        <option>Fraud Measurement</option>
                                                                        <option>Fraud Measurement System</option>
                                                                        <option>Fraudulant Activity</option>
                                                                        <option>Fraudulent Activity</option>
                                                                    </optgroup>

                                                                    <optgroup label="Background Checks required as per client requirement">
                                                                        <option>Monetary Liability</option>
                                                                    </optgroup>

                                                                    <optgroup label="Penetration testing">
                                                                        <option>Monetary Liability</option>
                                                                    </optgroup>

                                                                    <optgroup label="GDPR">
                                                                        <option>Monetary Liability</option>
                                                                    </optgroup>

                                                                    <optgroup label="ISO 27001 / ISO 22301">
                                                                        <option>Monetary Liability</option>
                                                                    </optgroup>

                                                                    <optgroup label="PCI">
                                                                        <option>Monetary Liability</option>
                                                                    </optgroup>

                                                                    <optgroup label="Call Recording">
                                                                        <option>Monetary Liability</option>
                                                                    </optgroup>

                                                                    <optgroup label="SSAE 18">
                                                                        <option>Monetary Liability</option>
                                                                    </optgroup>

                                                                </select>
                                                            </label>
                                                          </div>
                                                        <br>
                                                        {{DF1_1}}
                                                      <input style ="color:Black;" type="submit" value="Submit">
<br>
                                                    <br>
<!--                                                          </label>-->
                                                    </form>
                                                <br>
                                                    <!--                    </div>-->
                                                          </div>
                                                     <span style ="color:yellow;" class="font-italic" href = "">Couldn't find the keyword you are looking for?<br></span>
<!--<h9 style ="color:yellow;" href = "">  <small>Add New Keyword.  </small>  </h9>-->
                                                    <button><a href="" style ="color:black;">Add new keyword</a> </button>
<!--                                                          </label>-->
 <script>
Swal.fire({
  title: 'Add Keyword',
  input: 'text',
  showCloseButton: true,
  showCancelButton: true,
  inputPlaceholder: 'Enter your Keyword',
  inputAttributes: {
  inputPlaceholder: 'Enter your Keyword',
  autocapitalize: 'off'
  },
  showCancelButton: true,
  confirmButtonText: 'Add',
  showLoaderOnConfirm: true,
  preConfirm: (login) => {
    return fetch(`//api.github.com/users/${login}`)
      .then(response => {
        if (!response.ok) {
          throw new Error(response.statusText)
        }
        return response.json()
      })
      .catch(error => {
        Swal.showValidationMessage(
          `Request failed: ${error}`
        )
      })
  },
  allowOutsideClick: () => !Swal.isLoading()
}).then((result) => {
  if (result.isConfirmed) {
    Swal.fire({
      title: `The keyword '${result.value.login}' will add to the list`,
<!--      print(${result.value.login})-->
<!--      imageUrl: result.value.avatar_url-->
    })
  }
})
</script>
<!--                                                              print(result)-->
{% for keyword in New_Keyword %}
                                                              <li class="list-group-item">{{keyword.Name}}</li>
{% endfor %}
                                                    <br>
                                                              <br>
                                                      <input style ="color:Black;" type="submit" value="Submit">
<br>
                                                    <br>
                                        <li class="work-item thumnail-img mix corporate"data-toggle="tooltip" title="Back to previous page ">
         <img src="{% static 'images/previous.jfif' %}" alt="">
    </a>
<br>
    <a href="{% url 'Contract_Library' %}">
    <h7 style ="color:white; ">
<!--         <img src="{% static 'images/realtimesearch.png' %}" alt="">-->
         Real-time search
    </h7>
    </a>
   </li>
                                                                                                            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                                                            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                                                            crossorigin="anonymous"></script>
                                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                                                            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                                                            crossorigin="anonymous"></script>
                                                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                                                            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                                                            crossorigin="anonymous"></script>
<!--&lt;!&ndash;						  </div>&ndash;&gt;-->
                    </div>
                                        </div>
<!--                                        </div>-->
                </div>
<!--          </div>-->
<!--                        </a>-->
      </div>
<!--                        </a>-->
                        <script>
                        $(document).ready(function(){
                        $('[data-toggle="tooltip"]').tooltip();
                           });
                        </script>
  </section>
       </div>
  </div>
    </section>



	<div class="demo-zone" id="demo-single">
<!--		<label>Choose a brand in list : </label>-->
        <select id="brandsOne"></select>
		<div class="btns-active">
<!--			<button class="demo" style="width:140px;" onClick="document.getElementById('brandsOneChoice').innerHTML=document.getElementById('brandsOne').value;"></button>-->
<!--			<span id="brandsOneChoice"></span>-->
		</div>
		<div class="btns-inactive"  style="display:none">;
<!--			<button class="demo" onClick="init('brandsOne')">vanillaSelectBox()</button>-->
		</div>
    </div>

	<div class="demo-zone" id="demo-multiple">
<!--		<label>Choose several brands : </label>-->
        <select id="brandsMulti" multiple size="3"></select>
		<div class="btns-active">

<!--			<button  class="demo" style="width:140px;" onClick="document.getElementById('brandsMultiChoice').innerHTML=(getValues('brandsMulti')).join(',');">-->
<!--                get select values-->
<!--            </button>&nbsp;-->
<span id="brandsMultiChoice"></span>
		</div>
		<div class="btns-inactive" style="display:none";>
			<button class="demo" onClick="init('brandsMulti')">vanillaSelectBox()</button>
		</div>
    </div>

    <div class="demo-zone">
<!--        <label><b>All selected test : </b></label>-->
        <select id="demoShort" multiple="" size="3" style="display: inline-block;">

        </select>

    </div>
    <div style="width:100%;">
        <div class="demo-zone" id="demo-stay" style="width:40%;display:inline-block;">
<!--            <label>Stay open : </label>-->
            <br/><select id="brandsMultiStay" multiple size="3"></select>
        </div>

        <div class="demo-zone" id="demo-stay-right" style="width:50%;text-align:right;display:inline-block;">
<!--            <label>All countries : </label>-->
            <br/><select id="allCountries" multiple size="4"></select>
        </div>
    </div>
</div>
<!--        <script src="js/html5shiv.js"></script>-->
<!--    <link href="js/vanillaSelectBox.js" />-->
<!--        <img src="{% static 'images/homepage1.png' %}" alt="">-->
<script src="{% static 'js/vanillaSelectBox.js' %}"></script>

<script>

    let brands = [""];
    let select1 = document.getElementById("brandsOne");
    var option = document.createElement("option");
    option.value = "";
    option.text = "";
    select1.appendChild(option);
    for (var i = 0;
     i < brands.length;
     i++) {
        var option = document.createElement("option");
        option.value = brands[i];
        option.text = brands[i];
		if (i == 5) option.setAttribute("disabled", "");

        if (i == 23) option.setAttribute("selected", true);
        let colorClass = "";
        if (i > 2)
            option.classList.add(i % 2 == 0 ? "darkRed" : "darkBlue")
        select1.appendChild(option);
    }
    let select2 = document.getElementById("brandsMulti");
    for (var i = 0;
     i < brands.length;
     i++) {
        var option = document.createElement("option");
        option.value = brands[i];
        option.text = brands[i];
        if (i == 5) option.setAttribute("disabled", "");

        if (i == 23) option.setAttribute("selected", true);
        if (i >= 3 && i <= 7) option.setAttribute("selected", true);
        select2.appendChild(option);
    }
	    let select3 = document.getElementById("brandsMultiStay");
    for (var i = 0;
     i < brands.length;
     i++) {
        var option = document.createElement("option");
        option.value = brands[i];
        option.text = brands[i];
        if (i == 15) option.setAttribute("selected", true);
        if (i >= 3 && i <= 7) option.setAttribute("selected", true);
        select3.appendChild(option);
    }
    let selectBox = null;
    let selectBox2 = null;
	let selectBox3 = null;
    function setEnable(id, isEnabled) {
        if (id == "brandsOne" && selectBox != null) {
            if (isEnabled) {
                selectBox.enable();
            } else {
                selectBox.disable();
            }

        } else if (id == "brandsMulti" && selectBox2 != null) {
            if (isEnabled) {
                selectBox2.enable();
            } else {
                selectBox2.disable();
            }
        }
    }
    function empty(id) {
        if (id == "brandsOne" && selectBox != null) {
            selectBox.empty();
        } else if (id == "brandsMulti" && selectBox2 != null) {
            selectBox2.empty();
        }
    }
    function doDestroy(id) {
        if (id == "brandsOne" && selectBox != null) {
            selectBox.destroy();
            let zone = document.getElementById("demo-single");
            buttons = zone.querySelector(".btns-active");
            buttons.style.display = "none";
            buttons = zone.querySelector(".btns-inactive");
            buttons.style.display = "block";


        } else if (id == "brandsMulti" && selectBox2 != null) {
            selectBox2.destroy();
            let zone = document.getElementById("demo-multiple");
            buttons = zone.querySelector(".btns-active");
            buttons.style.display = "none";
            buttons = zone.querySelector(".btns-inactive");
            buttons.style.display = "block";

        }
    }
    function init(id) {
        if (id == "brandsOne") {
<!--            selectBox = new vanillaSelectBox("#brandsOne", { "keepInlineStyles":true,"maxHeight": 200,"maxWidth":178,"minWidth":178, "search": true, "placeHolder": "Choose a brand..." });-->
            let zone = document.getElementById("demo-single");
            buttons = zone.querySelector(".btns-active");
            buttons.style.display = "block";
            buttons = zone.querySelector(".btns-inactive");
            buttons.style.display = "none";
        } else if (id == "brandsMulti") {

            selectBox2 = new vanillaSelectBox("#brandsMulti", {"disableSelectAll": true, "maxHeight": 200, "search": true ,"translations": { "all": "All", "items": "items","selectAll":"Check All","clearAll":"Clear All"}});
            let zone = document.getElementById("demo-multiple");
            buttons = zone.querySelector(".btns-active");
            buttons.style.display = "block";
            buttons = zone.querySelector(".btns-inactive");
            buttons.style.display = "none";

        }else if (id == "brandsMultiStay") {
            selectBox3 = new vanillaSelectBox("#brandsMultiStay", { "maxHeight": 200, "search": true,"stayOpen":true });
        }
    }
    function setValues(id, value) {
        if (id == "brandsOne" && selectBox != null) {
            selectBox.setValue(value);
        } else if (id == "brandsMulti" && selectBox2 != null) {
            selectBox2.setValue(value);
        }
    }
    function getValues(id) {
        let result = [];
        let collection = document.querySelectorAll("#" + id + " option");
        collection.forEach(function (x) {
            if (x.selected) {
                result.push(x.value);
            }
        });
        return result;
    }

    function disableItems(id,value){
        if (id == "brandsOne" && selectBox != null) {
            selectBox.disableItems(value);
        }
    }

    function enableItems(id,value){
        if (id == "brandsOne" && selectBox != null) {
            selectBox.enableItems(value);
        }
    }

    init("brandsOne");
    init("brandsMulti");
	init("brandsMultiStay");
    selectBoxTest = new vanillaSelectBox("#demoShort", {
        "maxHeight": 200,
        "search": true ,
        "translations": { "all": "All", "items": "items","selectAll":"Check All","clearAll":"Clear All","placeHolder": "Choose a brand..."}
    });

let allCountries = [
{"name": "Afghanistan", "code": "AF"},
{"name": "Åland Islands", "code": "AX"},
{"name": "Albania", "code": "AL"},
{"name": "Algeria", "code": "DZ"},
{"name": "American Samoa", "code": "AS"},
{"name": "AndorrA", "code": "AD"},
{"name": "Angola", "code": "AO"},
{"name": "Anguilla", "code": "AI"},
{"name": "Antarctica", "code": "AQ"},
{"name": "Antigua and Barbuda", "code": "AG"},
{"name": "Argentina", "code": "AR"},
{"name": "Armenia", "code": "AM"},
{"name": "Aruba", "code": "AW"},
{"name": "Australia", "code": "AU"},
{"name": "Austria", "code": "AT"},
{"name": "Azerbaijan", "code": "AZ"},
{"name": "Bahamas", "code": "BS"},
{"name": "Bahrain", "code": "BH"},
{"name": "Bangladesh", "code": "BD"},
{"name": "Barbados", "code": "BB"},
{"name": "Belarus", "code": "BY"},
{"name": "Belgium", "code": "BE"},
{"name": "Belize", "code": "BZ"},
{"name": "Benin", "code": "BJ"},
{"name": "Bermuda", "code": "BM"},
{"name": "Bhutan", "code": "BT"},
{"name": "Bolivia", "code": "BO"},
{"name": "Bosnia and Herzegovina", "code": "BA"},
{"name": "Botswana", "code": "BW"},
{"name": "Bouvet Island", "code": "BV"},
{"name": "Brazil", "code": "BR"},
{"name": "British Indian Ocean Territory", "code": "IO"},
{"name": "Brunei Darussalam", "code": "BN"},
{"name": "Bulgaria", "code": "BG"},
{"name": "Burkina Faso", "code": "BF"},
{"name": "Burundi", "code": "BI"},
{"name": "Cambodia", "code": "KH"},
{"name": "Cameroon", "code": "CM"},
{"name": "Canada", "code": "CA"},
{"name": "Cape Verde", "code": "CV"},
{"name": "Cayman Islands", "code": "KY"},
{"name": "Central African Republic", "code": "CF"},
{"name": "Chad", "code": "TD"},
{"name": "Chile", "code": "CL"},
{"name": "China", "code": "CN"},
{"name": "Christmas Island", "code": "CX"},
{"name": "Cocos (Keeling) Islands", "code": "CC"},
{"name": "Colombia", "code": "CO"},
{"name": "Comoros", "code": "KM"},
{"name": "Congo", "code": "CG"},
{"name": "Congo, The Democratic Republic of the", "code": "CD"},
{"name": "Cook Islands", "code": "CK"},
{"name": "Costa Rica", "code": "CR"},
{"name": "Cote D\'Ivoire", "code": "CI"},
{"name": "Croatia", "code": "HR"},
{"name": "Cuba", "code": "CU"},
{"name": "Cyprus", "code": "CY"},
{"name": "Czech Republic", "code": "CZ"},
{"name": "Denmark", "code": "DK"},
{"name": "Djibouti", "code": "DJ"},
{"name": "Dominica", "code": "DM"},
{"name": "Dominican Republic", "code": "DO"},
{"name": "Ecuador", "code": "EC"},
{"name": "Egypt", "code": "EG"},
{"name": "El Salvador", "code": "SV"},
{"name": "Equatorial Guinea", "code": "GQ"},
{"name": "Eritrea", "code": "ER"},
{"name": "Estonia", "code": "EE"},
{"name": "Ethiopia", "code": "ET"},
{"name": "Falkland Islands (Malvinas)", "code": "FK"},
{"name": "Faroe Islands", "code": "FO"},
{"name": "Fiji", "code": "FJ"},
{"name": "Finland", "code": "FI"},
{"name": "France", "code": "FR"},
{"name": "French Guiana", "code": "GF"},
{"name": "French Polynesia", "code": "PF"},
{"name": "French Southern Territories", "code": "TF"},
{"name": "Gabon", "code": "GA"},
{"name": "Gambia", "code": "GM"},
{"name": "Georgia", "code": "GE"},
{"name": "Germany", "code": "DE"},
{"name": "Ghana", "code": "GH"},
{"name": "Gibraltar", "code": "GI"},
{"name": "Greece", "code": "GR"},
{"name": "Greenland", "code": "GL"},
{"name": "Grenada", "code": "GD"},
{"name": "Guadeloupe", "code": "GP"},
{"name": "Guam", "code": "GU"},
{"name": "Guatemala", "code": "GT"},
{"name": "Guernsey", "code": "GG"},
{"name": "Guinea", "code": "GN"},
{"name": "Guinea-Bissau", "code": "GW"},
{"name": "Guyana", "code": "GY"},
{"name": "Haiti", "code": "HT"},
{"name": "Heard Island and Mcdonald Islands", "code": "HM"},
{"name": "Holy See (Vatican City State)", "code": "VA"},
{"name": "Honduras", "code": "HN"},
{"name": "Hong Kong", "code": "HK"},
{"name": "Hungary", "code": "HU"},
{"name": "Iceland", "code": "IS"},
{"name": "India", "code": "IN"},
{"name": "Indonesia", "code": "ID"},
{"name": "Iran, Islamic Republic Of", "code": "IR"},
{"name": "Iraq", "code": "IQ"},
{"name": "Ireland", "code": "IE"},
{"name": "Isle of Man", "code": "IM"},
{"name": "Israel", "code": "IL"},
{"name": "Italy", "code": "IT"},
{"name": "Jamaica", "code": "JM"},
{"name": "Japan", "code": "JP"},
{"name": "Jersey", "code": "JE"},
{"name": "Jordan", "code": "JO"},
{"name": "Kazakhstan", "code": "KZ"},
{"name": "Kenya", "code": "KE"},
{"name": "Kiribati", "code": "KI"},
{"name": "Korea, Democratic People\'S Republic of", "code": "KP"},
{"name": "Korea, Republic of", "code": "KR"},
{"name": "Kuwait", "code": "KW"},
{"name": "Kyrgyzstan", "code": "KG"},
{"name": "Lao People\'S Democratic Republic", "code": "LA"},
{"name": "Latvia", "code": "LV"},
{"name": "Lebanon", "code": "LB"},
{"name": "Lesotho", "code": "LS"},
{"name": "Liberia", "code": "LR"},
{"name": "Libyan Arab Jamahiriya", "code": "LY"},
{"name": "Liechtenstein", "code": "LI"},
{"name": "Lithuania", "code": "LT"},
{"name": "Luxembourg", "code": "LU"},
{"name": "Macao", "code": "MO"},
{"name": "Macedonia, The Former Yugoslav Republic of", "code": "MK"},
{"name": "Madagascar", "code": "MG"},
{"name": "Malawi", "code": "MW"},
{"name": "Malaysia", "code": "MY"},
{"name": "Maldives", "code": "MV"},
{"name": "Mali", "code": "ML"},
{"name": "Malta", "code": "MT"},
{"name": "Marshall Islands", "code": "MH"},
{"name": "Martinique", "code": "MQ"},
{"name": "Mauritania", "code": "MR"},
{"name": "Mauritius", "code": "MU"},
{"name": "Mayotte", "code": "YT"},
{"name": "Mexico", "code": "MX"},
{"name": "Micronesia, Federated States of", "code": "FM"},
{"name": "Moldova, Republic of", "code": "MD"},
{"name": "Monaco", "code": "MC"},
{"name": "Mongolia", "code": "MN"},
{"name": "Montserrat", "code": "MS"},
{"name": "Morocco", "code": "MA"},
{"name": "Mozambique", "code": "MZ"},
{"name": "Myanmar", "code": "MM"},
{"name": "Namibia", "code": "NA"},
{"name": "Nauru", "code": "NR"},
{"name": "Nepal", "code": "NP"},
{"name": "Netherlands", "code": "NL"},
{"name": "Netherlands Antilles", "code": "AN"},
{"name": "New Caledonia", "code": "NC"},
{"name": "New Zealand", "code": "NZ"},
{"name": "Nicaragua", "code": "NI"},
{"name": "Niger", "code": "NE"},
{"name": "Nigeria", "code": "NG"},
{"name": "Niue", "code": "NU"},
{"name": "Norfolk Island", "code": "NF"},
{"name": "Northern Mariana Islands", "code": "MP"},
{"name": "Norway", "code": "NO"},
{"name": "Oman", "code": "OM"},
{"name": "Pakistan", "code": "PK"},
{"name": "Palau", "code": "PW"},
{"name": "Palestinian Territory, Occupied", "code": "PS"},
{"name": "Panama", "code": "PA"},
{"name": "Papua New Guinea", "code": "PG"},
{"name": "Paraguay", "code": "PY"},
{"name": "Peru", "code": "PE"},
{"name": "Philippines", "code": "PH"},
{"name": "Pitcairn", "code": "PN"},
{"name": "Poland", "code": "PL"},
{"name": "Portugal", "code": "PT"},
{"name": "Puerto Rico", "code": "PR"},
{"name": "Qatar", "code": "QA"},
{"name": "Reunion", "code": "RE"},
{"name": "Romania", "code": "RO"},
{"name": "Russian Federation", "code": "RU"},
{"name": "RWANDA", "code": "RW"},
{"name": "Saint Helena", "code": "SH"},
{"name": "Saint Kitts and Nevis", "code": "KN"},
{"name": "Saint Lucia", "code": "LC"},
{"name": "Saint Pierre and Miquelon", "code": "PM"},
{"name": "Saint Vincent and the Grenadines", "code": "VC"},
{"name": "Samoa", "code": "WS"},
{"name": "San Marino", "code": "SM"},
{"name": "Sao Tome and Principe", "code": "ST"},
{"name": "Saudi Arabia", "code": "SA"},
{"name": "Senegal", "code": "SN"},
{"name": "Serbia and Montenegro", "code": "CS"},
{"name": "Seychelles", "code": "SC"},
{"name": "Sierra Leone", "code": "SL"},
{"name": "Singapore", "code": "SG"},
{"name": "Slovakia", "code": "SK"},
{"name": "Slovenia", "code": "SI"},
{"name": "Solomon Islands", "code": "SB"},
{"name": "Somalia", "code": "SO"},
{"name": "South Africa", "code": "ZA"},
{"name": "South Georgia and the South Sandwich Islands", "code": "GS"},
{"name": "Spain", "code": "ES"},
{"name": "Sri Lanka", "code": "LK"},
{"name": "Sudan", "code": "SD"},
{"name": "Suriname", "code": "SR"},
{"name": "Svalbard and Jan Mayen", "code": "SJ"},
{"name": "Swaziland", "code": "SZ"},
{"name": "Sweden", "code": "SE"},
{"name": "Switzerland", "code": "CH"},
{"name": "Syrian Arab Republic", "code": "SY"},
{"name": "Taiwan, Province of China", "code": "TW"},
{"name": "Tajikistan", "code": "TJ"},
{"name": "Tanzania, United Republic of", "code": "TZ"},
{"name": "Thailand", "code": "TH"},
{"name": "Timor-Leste", "code": "TL"},
{"name": "Togo", "code": "TG"},
{"name": "Tokelau", "code": "TK"},
{"name": "Tonga", "code": "TO"},
{"name": "Trinidad and Tobago", "code": "TT"},
{"name": "Tunisia", "code": "TN"},
{"name": "Turkey", "code": "TR"},
{"name": "Turkmenistan", "code": "TM"},
{"name": "Turks and Caicos Islands", "code": "TC"},
{"name": "Tuvalu", "code": "TV"},
{"name": "Uganda", "code": "UG"},
{"name": "Ukraine", "code": "UA"},
{"name": "United Arab Emirates", "code": "AE"},
{"name": "United Kingdom", "code": "GB"},
{"name": "United States", "code": "US"},
{"name": "United States Minor Outlying Islands", "code": "UM"},
{"name": "Uruguay", "code": "UY"},
{"name": "Uzbekistan", "code": "UZ"},
{"name": "Vanuatu", "code": "VU"},
{"name": "Venezuela", "code": "VE"},
{"name": "Viet Nam", "code": "VN"},
{"name": "Virgin Islands, British", "code": "VG"},
{"name": "Virgin Islands, U.S.", "code": "VI"},
{"name": "Wallis and Futuna", "code": "WF"},
{"name": "Western Sahara", "code": "EH"},
{"name": "Yemen", "code": "YE"},
{"name": "Zambia", "code": "ZM"},
{"name": "Zimbabwe", "code": "ZW"}
];

let selectCountries = document.getElementById("allCountries");
for (var i = 0;i < allCountries.length;i++) {
    var option = document.createElement("option");
    option.value = allCountries[i].code;
    option.text = allCountries[i].name;
    selectCountries.appendChild(option);
}
let selectBox4 = new vanillaSelectBox("#allCountries", { "maxHeight": 100, "search": true,"stayOpen":true,translations: { "all": "All", "items": "Countries" } });

<!--$('#langOpt').multiselect({  columns: 1,placeholder: 'Select Languages',search: true, selectAll: true});-->

let selecDino = new vanillaSelectBox("#dino-select",{ "maxHeight": 350, placeholder: 'Select Languages', "search": true,translations: { "all": "All", "items": "Account" } });
let selecDino1 = new vanillaSelectBox("#dino-select1",{ "maxHeight": 400,"search": true,translations: { "all": "All", "items": "Keywords" } });
       </script>
</body>
</html>
